Byte-by-byte Description of file: $file
--------------------------------------------------------------------------------
$bytebybyte
--------------------------------------------------------------------------------
